@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.container {
  flex: 1;
  padding: 1.25rem;

  &__title {
    align-self: center;
    font-weight: 300;
    text-align: center;
    @include s {
      font-size: 1.25rem;
    }
    @include m {
      font-size: 1.25rem;
    }
  }

  &__subtitle {
    align-self: center;
    margin: 1.25rem 0;
    text-align: center;
    color: $grey;
    @include s {
      font-size: 0.875rem;
    }
    @include m {
      font-size: 0.875rem;
    }
  }
}

.data {
  flex-direction: row;
  margin-bottom: 1.25rem;
  justify-content: center;
  align-items: center;


  @include s {
    flex: 1;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
  }
  @include m {
    flex: 1;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
  }

  &__select {
    background-color: $white;
    color: $black;
    font-weight: 600;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    width: 3rem;
    text-align: center;
    padding-left: 0.625rem;
  }
  
  &__field {
    flex-direction: row;
    background-color: $secondary-color;
    border-radius: 0.3125rem;
    justify-content: space-between;
    align-items: center;
    padding: 0.625rem;
    &:nth-of-type(2) {
      margin: 0 0.625rem;
    }
    @include s {
      flex: 1;
      flex-grow: 1;
      align-self: stretch;
      margin: 0.625rem 0;
      &:nth-of-type(2) {
        margin: 0.625rem 0;
      }
    }
    @include m {
      flex: 1;
      flex-grow: 1;
      align-self: stretch;
      margin: 0.625rem 0;
      &:nth-of-type(2) {
        margin: 0.625rem 0;
      }
    }
    @include l {
      margin: 0;
    }
  }


  &__input {
    font-size: 1rem;
    line-height: 1.3125rem;
    text-align: center;
    max-width: 2.5rem;
    border-radius: 0.3125rem;
    color: $secondary-dark;
    font-family: Montserrat;
    font-weight: 700;

    &:last-of-type {
      max-width: 3rem;
      max-height: 1.25rem;
    }
  }

  &__text {
    font-size: 1.25rem;
    font-weight: 700;
    margin-right: 0.3125rem;
    color: $white;
    @include s {
      font-size: 0.875rem;
    }
    @include m {
      font-size: 0.875rem;
    }
    @include l {
      font-size: 1rem;
    }
  }
}

.content {
  flex: 1;
  flex-direction: row;
  @include s {
    flex-direction: column;
  }
  @include m {
    flex-direction: column;
  }
}