@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.container {
  flex: 1;
  padding: 1.25rem;

  &__title {
    align-self: center;
    font-weight: 300;
  }

  &__subtitle {
    align-self: center;
    margin: 1.25rem 0;
    color: $grey;
  }
}

.data {
  flex-direction: row;
  margin-bottom: 1.25rem;
  justify-content: center;
  align-items: center;
  
  &__field {
    // &:last-of-type {
    //   margin: 0 0.625rem;
    // }
    flex-direction: row;
    background-color: $secondary-color;
    border-radius: 0.3125rem;
    justify-content: center;
    align-items: center;
    padding: 0.625rem;
    &:nth-of-type(2) {
      margin: 0 0.625rem;
    }
  }


  &__input {
    font-size: 1rem;
    line-height: 1.3125rem;
    text-align: center;
    max-width: 2.5rem;
    border-radius: 0.3125rem;

    &:last-of-type {
      max-width: 3rem;
    }
  }

  &__text {
    font-size: 1.25rem;
    font-weight: 700;
    margin-right: 0.3125rem;
    color: $white;
  }
}

.content {
  flex-direction: row;
  flex: 1;
}