@import '../../../../styles/mixins.scss';
@import '../../../../styles/variables.scss';

@keyframes setShadow {
  from {
    box-shadow: 0 0 transparent;
  } to {
    box-shadow: 0 0 0.625rem $grey;
  }
}

.card {
  padding: 1.25rem;
  margin: 0 1.25rem;
  
  @include s {
    margin: 1.25rem 0;
  }
  
  @include m {
    margin: 1.25rem 0;
  }

  &__header {
    flex-direction: column;
  
    @include s {
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
    }
    
    @include m {
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
    }
    @include  l {
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
    }
  }

  &--best {
    padding: 1.25rem;
    border: 0.125rem solid $primary-dark;
  }

  &:hover {
    animation: setShadow 500ms forwards;
  }

}

.flag {
  align-self: center;
  padding: 0.3125rem;
  height: 1.625rem;
  border-radius: 0.8125rem;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: $primary-color;

  &__icon {
    height: 1.25rem;
    fill: $white;
  }

  &__text {
    font-weight: 600;
    color: $white;
  }
}


.image {
  height: 4rem;

  @include s {
    height: 2rem;
  }
  @include m {
    height: 2rem;
  }
  @include  l {
    height: 2rem;
  }
}

.title {
  align-self: center;
  margin: 1.25rem 0;
  letter-spacing: 0.0625rem;
  font-weight: 500;
  color: $secondary-dark;
  @include s {
    font-size: 1rem;
  }
  @include m {
    font-size: 1rem;
  }
  @include  l {
    font-size: 1rem;
  }
}

.section {
  margin: 1.25rem 0;
  flex: 1;
  justify-content: center;

  &__item {
    flex-direction: row;
    margin: 0.3125rem 0;
  }

  &__icon {
    width: 1.25rem;
    margin-right: 0.3125rem;
    &--exclude {
      fill: #A00;;
    }
    &--include {
      fill: #0A0;
    }
  }

  &__text {
    font-size: 0.875rem;
  }

}

.price {
  justify-content: center;
  align-items: center;

  &__section {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__number {
    font-size: 1.25rem;
    margin-right: 0.125rem;

    &--disabled {
      font-size: 1rem;
      color: $dark;
    }
  }


  &__text {
    font-size: 0.875rem;
    &--disabled {
      font-size: 0.6125rem;
      color: $dark;
    }
  }

}

@keyframes setBestButtonColor {
  from {
    background-color: $secondary-color;
    border: 0.125rem solid $secondary-color;
  } to {
    background-color: $secondary-dark;
    border: 0.125rem solid $secondary-dark;
  }
}

@keyframes setButtonColor {
  from {
    background-color: $white;
    border: 0.125rem solid $secondary-dark;
    p {
      color: $secondary-dark;
    }
  } to {
    background-color: $secondary-dark;
    border: 0.125rem solid $secondary-dark;
    p {
      color: $white;
    }
  }
}

@keyframes setButtonTextColor {
  from {
    color: $secondary-dark;
  } to {
    color: $white;
  }
}

@keyframes setBestButtonTextColor {
  to {
    color: $white;
  }
}



.button {
  background-color: $white;
  height: 3rem;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  margin-top: 1.25rem;
  cursor: pointer;
  border: 0.125rem solid $secondary-dark;

  &:hover {
    animation: setButtonColor 500ms forwards;

    p {
      color: $white;
    }
  }

  &--best {
    background-color: $secondary-color;
    border: 0.125rem solid $secondary-color;

    &:hover {
      animation: setBestButtonColor 500ms forwards;
    }
  
  }

  &__text {
    color: $secondary-dark;
    font-weight: 800;
    
    &--best {
      color: $white;
    }
  }
}
