$screen-s-min: 320px;
$screen-m-min: 480px;
$screen-l-min: 1024px;
$screen-xl-min: 1280px;
$primary-color: #5045AE;
$primary-dark: #352F85;
$secondary-color: #51E3C0;
$secondary-dark: #399E86;
$white: #FBFBFB;
$regular: #DDDDDD;
$black: #030303;

$base_padding: 1.25rem;
$base_margin: 0.625rem;