$screen-s-min: 320px;
$screen-m-min: 480px;
$screen-l-min: 1024px;
$screen-xl-min: 1280px;
$primary-color: #A6DEF9;
$primary-dark: #8DB0E3;
$secondary-color: #52587A;
$secondary-dark: #282B3C;
$white: #FBFBFB;
$regular: #DDDDDD;
$grey: #AAAAAA;
$dark: #555555;
$black: #030303;

$base_padding: 1.25rem;
$base_margin: 0.625rem;