@import '../../styles/variables.scss';

.container {
  max-height: 4rem;
  background: $white;
  flex-direction: row;
  justify-content: space-between;
  padding: $base_padding;
  align-items: center;

  h1 {
    color: $primary-color;
  }
}

.menu-container {
  justify-content: flex-end;
}

.menu-button {
  background: $secondary-color;
}