@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.header {
  flex-grow: 1;
  flex-direction: row;
  justify-content: space-between;
  height: 3.75rem;
  padding: 0 1.25rem;
  align-items: center;
  h1 {
    color: $secondary-color;
  }
}

@keyframes onhoverbutton {
  from {
    box-shadow: 0 0 0.3125rem $grey;
  } to {
    box-shadow: 0 0 0.625rem $grey;
  }
}

@keyframes onhovergetstarted {
  from {
    box-shadow: 0 0 0.3125rem $primary-color;
  } to {
    box-shadow: 0 0 0.625rem $primary-color;
  }
}

@keyframes onhovermenuitem {
  from {
    color: $black;
  } to {
    color: $primary-color;
  }
}

.menu {
  flex-direction: row;
  justify-content: flex-end;

  @include s {
    display: none;
  }

  @include m {
    display: none;
  }

  &__button {
    padding: 0.625rem;
    margin: 0.625rem;
    cursor: pointer;

    p {
      font-weight: 500;
    }

    &--selected {
      border-bottom: 0.125rem solid $primary-color;
      p {
        font-weight: 600;
      }
    }

    &:hover {
      p {
        animation: onhovermenuitem 200ms forwards;
      }
    }

  }

  &__getstarted {
    padding: 0.625rem;
    margin: 0.625rem;
    cursor: pointer;
    background: $secondary-color;
    justify-content: center;
    align-items: center;
    border-radius: 0.3125rem;
    box-shadow: 0 0 0.3125rem $secondary-color;

    &:hover {
      animation: onhovergetstarted 200ms forwards;
      p {
        animation: onhover 200ms forwards;
      }
    }

    p {
      color: $white;
      font-weight: 700;
    }
  }

  &__login {
    padding: 0.625rem;
    margin: 0.625rem;
    background: $white;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0.3125rem $grey;
    border-radius: 0.3125rem;
    cursor: pointer;

    svg {
      fill: $grey;
      width: 1.25rem;
      margin-right: 0.3125rem;
    }

    p {
      font-weight: 700;
      color: $dark;
    }

    &:hover {
      animation: onhoverbutton 500ms forwards;
    }
  }
}

.hamburguer {
  display: none;
  cursor: pointer;

  @include s {
    display: flex;
  }

  @include m {
    display: flex;
  }

  &__icon {
    height: 1.25rem;
  }
}